{% extends "base.html" %}



{% block content %}

{% if not request.user.is_authenticated %}
<div style="margin-top:30px;">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button style="margin-top:30px;" type="submit"> Register </button>
    </form>
    <div>
        <p>Already have an account? Please <a href="/login/">login</a> here</p>
    </div>
</div>  
{% else %}
<div>
    <p>You are already logged in. Would you like to <a href="/logout/">logout?</a></p>
</div>
{% endif %}

{% endblock %}